In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

from subprocess import check_output
from keras.layers.core import Dense, Activation, Dropout
from keras.layers.recurrent import LSTM
from keras.models import Sequential
from sklearn.model_selection import  train_test_split
import time #helper libraries
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from numpy import newaxis



def create_dataset(dataset, look_back=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-look_back-1):
        a = dataset[i:(i+look_back), :]
        dataX.append(a)
        dataY.append(dataset[i+look_back, 0])
    return np.array(dataX), np.array(dataY)



np.random.seed(7)



################################################# 데이터 전처리
df = pd.read_csv('kospi.csv')
df

            Date     Open     High      Low    Close  Volume
0     1985-01-04   139.53   139.53   139.53   139.53    7411
1     1985-01-05   141.79   141.79   141.79   141.79   16992
2     1985-01-07   145.51   145.51   145.51   145.51   47277
3     1985-01-08   145.39   145.39   145.39   145.39   43849
4     1985-01-09   143.26   143.26   143.26   143.26   33717
5     1985-01-10   141.93   141.93   141.93   141.93   38970
6     1985-01-11   140.06   140.06   140.06   140.06   24379
7     1985-01-12   141.05   141.05   141.05   141.05   17061
8     1985-01-14   139.45   139.45   139.45   139.45   15165
9     1985-01-15   139.64   139.64   139.64   139.64   17642
10    1985-01-16   139.92   139.92   139.92   139.92   22236
11    1985-01-17   138.66   138.66   138.66   138.66   16859
12    1985-01-18   138.24   138.24   138.24   138.24   14738
13    1985-01-19   138.38   138.38   138.38   138.38   10847
14    1985-01-21   138.60   138.60   138.60   138.60   14136
15    1985-01-22   139.09   139.09   139.09   139.09   16288
16    1985-01-23   139.75   139.75   139.75   139.75   16453
17    1985-01-24   139.43   139.43   139.43   139.43   17199
18    1985-01-25   138.75   138.75   138.75   138.75   12415
19    1985-01-26   138.60   138.60   138.60   138.60    9766
20    1985-01-28   137.89   137.89   137.89   137.89   10549
21    1985-01-29   137.81   137.81   137.81   137.81   11531
22    1985-01-30   137.97   137.97   137.97   137.97   11915
23    1985-01-31   138.90   138.90   138.90   138.90   15382
24    1985-02-01   138.84   138.84   138.84   138.84   16948
25    1985-02-02   138.48   138.48   138.48   138.48    8873
26    1985-02-04   136.87   136.87   136.87   136.87   10282
27    1985-02-05   137.07   137.07   137.07   137.07   13998
28    1985-02-06   137.21   137.21   137.21   137.21   12759
29    1985-02-07   136.59   136.59   136.59   136.59   12312
...          ...      ...      ...      ...      ...     ...
9031  2018-12-19  2068.95  2080.65  2063.01  2078.84  418796
9032  2018-12-20  2063.70  2071.08  2047.52  2060.12  421064
9033  2018-12-21  2052.70  2061.51  2049.76  2061.49  311388
9034  2018-12-24  2050.38  2059.94  2046.18  2055.01  285275
9035  2018-12-26  2028.81  2037.83  2014.28  2028.01  321499
9036  2018-12-27  2032.09  2035.57  2021.39  2028.44  398021
9037  2018-12-28  2036.70  2046.97  2035.41  2041.04  352677
9038  2019-01-02  2050.55  2053.45  2004.27  2010.00  326367
9039  2019-01-03  2011.81  2014.72  1991.65  1993.70  427976
9040  2019-01-04  1992.40  2011.56  1984.53  2010.25  408990
9041  2019-01-07  2034.24  2048.06  2030.90  2037.10  440191
9042  2019-01-08  2038.68  2042.70  2023.59  2025.27  397831
9043  2019-01-09  2034.19  2068.23  2034.19  2064.71  386247
9044  2019-01-10  2065.73  2072.81  2057.16  2063.28  382877
9045  2019-01-11  2070.36  2076.99  2063.99  2075.57  380061
9046  2019-01-14  2070.49  2073.94  2059.46  2064.52  432890
9047  2019-01-15  2069.14  2098.01  2067.58  2097.18  439488
9048  2019-01-16  2098.65  2106.35  2091.92  2106.10  500078
9049  2019-01-17  2110.14  2117.43  2101.70  2107.06  475884
9050  2019-01-18  2116.43  2124.50  2113.44  2124.28  456737
9051  2019-01-21  2133.87  2134.17  2114.45  2124.61  398034
9052  2019-01-22  2126.03  2129.37  2108.91  2117.77  419441
9053  2019-01-23  2108.72  2131.05  2106.74  2127.78  408600
9054  2019-01-24  2127.88  2145.08  2125.48  2145.03  413652
9055  2019-01-25  2147.92  2178.01  2146.64  2177.73  410001
9056  2019-01-28  2184.41  2188.15  2169.17  2177.30  371618
9057  2019-01-29  2172.83  2183.36  2162.53  2183.36  552586
9058  2019-01-30  2183.49  2206.20  2177.88  2206.20  480390
9059  2019-01-31  2222.88  2222.88  2201.22  2204.85  545247
9060  2019-02-01  2211.93  2218.78  2205.94  2205.94  197489

[9061 rows x 6 columns]

In [18]:
df['Date'] = pd.to_datetime(df.Date,format='%Y-%m-%d')
df.index = df['Date']

stock_price = df.Close.values.astype('float32')
stock_price = stock_price.reshape(len(df), 1)

scaler = MinMaxScaler(feature_range=(0, 1))
stock_price = scaler.fit_transform(stock_price)

# train = scaler.fit_transform(df)
# test = scaler.fit_transform(df2)
train_size = int(len(stock_price) * 0.80)
test_size = len(stock_price) - train_size
train, test = stock_price[0:train_size,:], stock_price[train_size:len(stock_price),:]




look_back = 1
trainX, trainY = create_dataset(train, look_back)
testX, testY = create_dataset(test, look_back)

##################################### 모델 생성
model = Sequential()

model.add(LSTM(
    return_sequences=True,
    input_shape=(None, 1),
    units=50))
model.add(Dropout(0.2))

model.add(LSTM(
    100,
    return_sequences=False))
model.add(Dropout(0.2))

model.add(Dense(
    units=1))
model.add(Activation('linear'))


model.compile(loss='mse', optimizer='rmsprop', metrics=['accuracy'])

history=model.fit(
    trainX,
    trainY,
    batch_size=128,
    epochs=10,
    validation_split=0.05)



plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.plot(history.history['acc'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['training', 'validation', 'accuracy'], loc='upper right')
plt.show()
#
# trainPredict = model.predict(trainX)
# testPredict = model.predict(testX)
# print(trainPredict)
# print(testPredict)
#
# # Get something which has as many features as dataset
# trainPredict_extended = np.zeros((len(trainPredict),3))
# # Put the predictions there
# trainPredict_extended[:,2] = trainPredict[:,0]
# # Inverse transform it and select the 3rd column.
# trainPredict = scaler.inverse_transform(trainPredict_extended) [:,2]
# print(trainPredict)
# # Get something which has as many features as dataset
# testPredict_extended = np.zeros((len(testPredict),3))
# # Put the predictions there
# testPredict_extended[:,2] = testPredict[:,0]
# # Inverse transform it and select the 3rd column.
# testPredict = scaler.inverse_transform(testPredict_extended)[:,2]
#
#
# trainY_extended = np.zeros((len(trainY),3))
# trainY_extended[:,2]=trainY
# trainY=scaler.inverse_transform(trainY_extended)[:,2]
#
#
# testY_extended = np.zeros((len(testY),3))
# testY_extended[:,2]=testY
# testY=scaler.inverse_transform(testY_extended)[:,2]
#
#
# # calculate root mean squared error
# trainScore = math.sqrt(mean_squared_error(trainY, trainPredict))
# print('Train Score: %.2f RMSE' % (trainScore))
# testScore = math.sqrt(mean_squared_error(testY, testPredict))
# print('Test Score: %.2f RMSE' % (testScore))
#
# # shift train predictions for plotting
# trainPredictPlot = np.empty_like(dataset)
# trainPredictPlot[:, :] = np.nan
# trainPredictPlot[look_back:len(trainPredict)+look_back, 2] = trainPredict
#
# # shift test predictions for plotting
# testPredictPlot = np.empty_like(dataset)
# testPredictPlot[:, :] = np.nan
# testPredictPlot[len(trainPredict)+(look_back*2)+1:len(dataset)-1, 2] = testPredict
#
#
#
# #plot
#
# serie,=plt.plot(scaler.inverse_transform(dataset)[:,2])
# prediccion_entrenamiento,=plt.plot(trainPredictPlot[:,2],linestyle='--')
# prediccion_test,=plt.plot(testPredictPlot[:,2],linestyle='--')
# plt.title('Consumo de agua')
# plt.ylabel('cosumo (m3)')
# plt.xlabel('dia')
# plt.legend([serie,prediccion_entrenamiento,prediccion_test],['serie','entrenamiento','test'], loc='upper right')
#
df['Date'] = pd.to_datetime(df.Date,format='%Y-%m-%d')
df.index = df['Date']

7246